URxvt*geometry: 200x40

URxvt*saveLines: 10000
URxvt*scrollBar: false

! Font definition
! (TIP: `fc-list|cut -f2 -d:|sort|uniq` to list the available fonts)
URxvt*font: xft:Nimbus Mono L:size=9
URxvt*boldFont: xft:Nimbus Mono L:size=9

! Fix font space
!URxvt*letterSpace: -2
!URxvt.font: xft:Monospace

! Use fake transparency to copy desktop background
!URxvt.inheritPixmap: false
! Apply a blue color on the background
!URxvt.tintColor: #17334F
!URxvt.shading:100

! Disable default behaviour of C-S
URxvt.iso14755: false
URxvt.iso14755_52: false

! perl plugins
! https://github.com/muennich/urxvt-perls
URxvt.perl-ext-common: url-select,clipboard,keyboard-select

! keyboard-select configuration
URxvt.keysym.M-Escape: perl:keyboard-select:activate

! overwrites the default Meta-s binding and allows to activate keyboard-select directly in backward search mode
URxvt.keysym.M-s: perl:keyboard-select:search

! url-select configuration
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.underline:

! clipboard configuration
URxvt.keysym.M-c:   perl:clipboard:copy
URxvt.keysym.M-v:   perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
